
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

dist/*
public/assets/css/*.bundle.css
public/assets/css/*.bundle.css.map
public/assets/css/*.bundle.min.css
public/assets/css/*.bundle.min.css.map
public/assets/js/*.bundle.js
public/assets/js/*.bundle.js.map
public/assets/js/*.bundle.min.js
public/assets/js/*.bundle.min.js.map

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
._*
**/._*
**/*.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
